/*无权访问*/
.boxs{
    text-align: center;
    margin-top: 10%;
}
.boxs img{
    width: 90px;
    height: 90px;
}
.boxs p{
    font-size: 14px;
    margin-top: 1%;
    letter-spacing: 2px;
    color: #333;
}