{extend name="main/main" /}
{block name="main"}
<!--条码-->
<link rel="stylesheet" href="/skin/css/main/public_class.css" type="text/css" media="all" />
<div class="operation">
    <div class="so layui-form layui-form-pane">
		<table>
			<tr>
				<td>
					<input type="text" class="layui-input" id="so|name" placeholder="条码名称">
				</td>
				<td>
					<input type="text" class="layui-input" id="so|code" placeholder="条码内容">
				</td>
				<td class="re_left">
				    <button class="layui-btn layui-btn-primary" onclick="more(this)" ape="hide"><i class="layui-icon">&#xe61a;</i></button> 
				    <button class="layui-btn layui-btn-primary" onclick="so()" style="margin:0"><i class="layui-icon">&#xe615;</i></button>
		        </td>
			</tr>
			<tr style="display:none;">
    		    <td>
					<select id="so|type" class="layui-input" lay-search>
                        <option value="0">条码类型</option>
            			<option value="1">条形码</option>
            			<option value="2">二维码</option>
            		</select>
				</td>
				<td>
					<input type="text" class="layui-input" id="so|data" placeholder="备注信息">
				</td>
    		</tr>
		</table>
    </div>
    <div class="set">
        <button class="layui-btn layui-btn-warm" onclick="re();">刷新</button>
        <button class="layui-btn layui-btn-danger" onclick="export_data();">导出</button>
        <button class="layui-btn" onclick="import_data();">导入</button>
        <button class="layui-btn layui-btn-normal"  onclick="code_info();">新增</button>
    </div>
    <div style="clear: both;"></div>
</div>
<hr />
<table id="ape_table"></table>
<script type="text/javascript" charset="utf-8">
    var root_del={if condition="(check_root('auxiliary_del'))"}true{else /}false{/if};
    var root_edit={if condition="(check_root('auxiliary_edit'))"}true{else /}false{/if};
</script>
<script src="/skin/js/main/code.js" type="text/javascript" charset="utf-8"></script>
{/block}