{extend name="main/main" /}
{block name="main"}
<!--资金调拨单打印-->
<link rel="stylesheet" href="/skin/css/main/public_print.css" type="text/css" media="all" />
<script language="javascript" src="/skin/js/public/base64.js"></script>
<script language="javascript" src="/skin/js/public/LodopFuncs.js"></script>
<div class="print_tip">
    <span>如您需要定制打印样式,请参照以下说明操作</span>
    <ul>
        <li>1.在线打印及设计需安装扩展程序，您可点击下方按钮，然后按照提示安装即可</li>
        <li>2.系统在初始化时已经带有打印样式，如不满足您的实际需求，请点击设计报表后保存即可</li>
        <li>3.默认纸张可在系统设置中选择，表格数据内容会自动分页，除表格内容外的元素均可修改</li>
        <li>4.如您在设计单据的过程中误操作导致表格样式错乱，您可点击下方恢复默认按钮即可恢复</li>
        <li>5.请使用谷歌内核浏览器或IE11以上版本，360浏览器、腾讯浏览器等请开启急速模式</li>
        <li>6.如您在设计报表样式中遇到问题，可到<a href="https://www.nodcloud.com" target="_blank">点可云软件中心</a>寻求解决方案</li>
        <li>7.在线打印及设计需安装扩展程序，您可点击下方按钮，然后按照提示安装即可</li>
    </ul>
    <p>
        <button class="layui-btn layui-btn-normal" onclick="print()">打印报表</button>
        <button class="layui-btn" onclick="edit()">设计报表</button>
        <button class="layui-btn layui-btn-primary" onclick="re_view()">恢复默认</button>
    </p>
</div>
<div id="box">
    <table>
        <thead>
            <tr>
                <th ape="account">调出账户</th>
                <th ape="toaccount">调入账户</th>
                <th ape="money">金额</th>
                <th ape="data">商品品牌</th>
            </tr>
        </thead>
        {volist name="info" id="vo"}
            <tr>
                <td>{$vo.account_id.info.name}</td>
                <td>{$vo.toaccount_id.info.name}</td>
                <td>{$vo.money}</td>
                <td>{$vo.data}</td>
            </tr>
        {/volist}
    </table>
    <style type="text/css" media="all">table{width:100%;margin: 0 auto;font-size:12px;color:#333;border-width:1px;border-color:#666;border-collapse:collapse}table th{border-width:1px;padding:8px;border-style:solid;border-color:#666;}table td{text-align:center;border-width:1px;padding:8px;border-style:solid;border-color:#666;background-color:#fff}</style>
</div>
<script type="text/javascript" charset="utf-8">
    //获取表格显示项目
    var tabinfo={php}echo tabinfo('eft');{/php};
    //打印配置
    var LODOP;
    var time ='{$class.time}'; //单据时间
    var number ='{$class.number}';//单据编号
    var user = '{$class.user.info.name}';//制单人   
    var data = '{$class.data}';//备注信息
    var html_table =$('#box').html(); //表格内容
    {empty name="sys.info.default_print"}
        <!--A4-->
        var print_text="{$printcode.paper4}"//A4模板代码
        var paper_type='paper4';//纸张类型
    {else/}
        <!--2等分-->
        var print_text="{$printcode.paper2}"//2等分模板代码
        var paper_type='paper2';//纸张类型
    {/empty}
    //打印报表
    function print(){
        LODOP=getLodop();
        eval(Base64.decode(print_text));
        LODOP.PREVIEW();
    };
    //修改模板
    function edit(){
        LODOP=getLodop();
        eval(Base64.decode(print_text));
        LODOP.SET_SHOW_MODE("HIDE_PBUTTIN_SETUP",true);
        LODOP.SET_SHOW_MODE("HIDE_ABUTTIN_SETUP",true);
        if (LODOP.CVERSION) CLODOP.On_Return=function(TaskID,Value){
            layui.use('layer', function() {
                layer.confirm('是否启用新模板？', {
                    btn: ['启用', '取消'], //按钮
                    offset: '12%'
                }, function() {
                    print_text=Base64.encode(Value);//赋值新模板
                    $.post("/index/service/save_printcode", {"name": "eft","type": paper_type,"main":print_text}, function(re) {
                        if(re="success"){
                            dump('模板保存成功');
                        }else{
                            alert_info('服务器响应超时!');
                        }
                    });
                });
            });
        };
        LODOP.PRINT_DESIGN();
    };
    //恢复默认
    function re_view(){
        layui.use('layer', function() {
            layer.confirm('您确定要恢复默认模板？', {
                btn: ['确定', '取消'], //按钮
                offset: '12%'
            }, function() {
                $.post("/index/service/default_printcode", {"name": "eft","type": paper_type}, function(re) {
                    if(re="success"){
                        alert_info('恢复默认模板成功');
                    }else{
                        alert_info('服务器响应超时!');
                    }
                });
            });
        });
    }
</script>
{/block}