<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{block name="title"}NODCLOUD.COM{/block}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <link rel="stylesheet" href="/skin/css/layui.css" type="text/css" media="all" />
        <link rel="stylesheet" href="/skin/css/main/main.css" type="text/css" media="all" />
        <script src="/skin/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/skin/js/layui.js" type="text/javascript" charset="utf-8"></script>
        <script src="/skin/js/public/other_public.js" type="text/javascript" charset="utf-8"></script>
        <script src="/skin/js/main/main.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div class="form_box">
            {block name="main"}{/block}
        </div>
        <script src="/skin/js/public/placeholder.js" type="text/javascript" charset="utf-8"></script>
        <script src="/skin/js/public/list_handle.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" charset="utf-8">var ape_even = {php}echo table_bg();{/php};</script>
    </body>
</html>