{extend name="main/main" /}
{block name="main"}
<!--销售利润表-->
<link rel="stylesheet" href="/skin/css/main/public_class.css" type="text/css" media="all" />
<div class="operation">
    <div class="so layui-form layui-form-pane">
    	<table>
    		<tr>
    		    <td>
    			    <select class="layui-input" id="so|type">
    			        <option value="0">全部单据</option>
    			        <option value="1">销售单</option>
    			        <option value="2">零售单</option>
    			    </select>
    			</td>
    		    <td>
    		        <input type="text" class="layui-input" id="so|customer" placeholder="全部客户" readonly="true" onclick="set_customer(this)" ape='0'>
    			</td>
    			<td>
    			    <select class="layui-input" id="so|user" lay-search>
    			        <option value="0">全部制单人</option>
            		    {volist name="user" id="user_vo"}
                            <option value="{$user_vo.id}">{$user_vo.name}</option>
                        {/volist}
    			    </select>
    			</td>
    			<td class="re_left">
    			    <button class="layui-btn layui-btn-primary" onclick="more(this)" ape="hide"><i class="layui-icon">&#xe61a;</i></button> 
    			    <button class="layui-btn layui-btn-primary" onclick="so()"><i class="layui-icon">&#xe615;</i></button>
    	        </td>
    		</tr>
    		<tr style="display:none;">
    		    <td>
    			    <input type="text" class="layui-input" id="so|start_time" placeholder="开始日期" value="{php}echo date('Y-m-01', strtotime(date("Y-m-d")));{/php}" >
    			</td>
    			<td>
    				<input type="text" class="layui-input" id="so|end_time" placeholder="结束日期" value="{php}echo date('Y-m-d', time());{/php}" >
    			</td>
    		</tr>
    	</table>
    </div>
    <div class="set">
        <button class="layui-btn layui-btn-warm" onclick="re();">刷新</button>
        <button class="layui-btn layui-btn-danger" onclick="export_data();">导出</button>
    </div>
    <div style="clear: both;"></div>
</div>
<hr />
<table id="ape_table"></table>
<script src="/skin/js/main/public_report.js" type="text/javascript" charset="utf-8"></script>
<script src="/skin/js/main/profit_form.js" type="text/javascript" charset="utf-8"></script>
{/block}