{extend name="main/main" /}
{block name="main"}
<!-- 采购入库单_采购转入库 -->
<link rel="stylesheet" href="/skin/css/public/ui.jqgrid.css" type="text/css" media="all" />
<link rel="stylesheet" href="/skin/css/public/jquery-ui.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="/skin/css/main/public_form.css" type="text/css" media="all" />
<div class="operation">
    <div class="form_info layui-form layui-form-pane">
        <div class="layui-form-item" style="margin-left: 0;">
            <label class="layui-form-label">供应商</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="supplier" placeholder="请点击选择" readonly="true" onclick="set_supplier(this)" ape=''>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">单据日期</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="time" placeholder="单据日期" value="{$class.time}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">单据编号</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="number" placeholder="单据编号" value="{$class.number}">
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="set_btn">
        {notempty name="auth_info"}
            {empty name="class.type.ape"}
                {if condition="(check_root('rpurchase_edit'))"}
                    <button class="layui-btn layui-btn-normal" onclick="save(this,'{$Think.get.id}');">保存单据</button>
                {/if}
                {if condition="(check_root('rpurchase_auditing'))"}
                    <button class="layui-btn layui-btn-primary" onclick="auditing('{$Think.get.id}',true);">审核单据</button>
                {/if}
            {else/}
                {if condition="(check_root('rpurchase_auditing'))"}
                    <button class="layui-btn layui-btn-primary" onclick="auditing('{$Think.get.id}',false);">反审核单据</button>
                {/if}
            {/empty}
        {/notempty}
        <button class="layui-btn" onclick="ape_re();">重新载入</button>
    </div>
</div>
<hr />
<div class="table_info">
    <table id="table"></table>
</div>
<div class="table_more layui-form layui-form-pane">
    <table class="more_info">
        <tr>
            <td>
                <div class="layui-form-item">
                    <label class="layui-form-label">单据金额</label>
                    <div class="layui-input-block">
                        <input type="text" id="total" placeholder="单据金额" class="layui-input" disabled="disabled" value="{$class.total}">
                    </div>
                </div>
            </td>
            <td>
                <div class="layui-form-item">
                    <label class="layui-form-label">实际金额</label>
                    <div class="layui-input-block">
                        <input type="text" id="actual" placeholder="请输入实际金额" class="layui-input" value="{$class.actual}" onBlur="cal_actual();" cal='false' >
                    </div>
                </div>
            </td>
            <td>
                <div class="layui-form-item">
                    <label class="layui-form-label">实付金额</label>
                    <div class="layui-input-block">
                        <input type="text" id="money" placeholder="请输入实付金额" class="layui-input" value="{$class.money}">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="layui-form-item">
                    <label class="layui-form-label">制单人</label>
                    <div class="layui-input-block">
                        <select id="user" class="layui-input" lay-search>
                            <option value="">请选择制单人</option>
                		    {volist name="user" id="user_vo"}
                                <option value="{$user_vo.id}">{$user_vo.name}</option>
                            {/volist}
                		</select>
                    </div>
                </div>
            </td>
            <td>
                <div class="layui-form-item">
                    <label class="layui-form-label">结算账户</label>
                    <div class="layui-input-block">
                        <select id="account" class="layui-input" lay-search>
                            <option value="">请选择结算账户</option>
                		    {volist name="account" id="account_vo"}
                                <option value="{$account_vo.id}">{$account_vo.name}</option>
                            {/volist}
                		</select>
                    </div>
                </div>
            </td>
            <td>
                <div class="layui-form-item">
                    <label class="layui-form-label" id="up_btn">上传附件</label>
                    <div class="layui-input-block">
                        <span class="layui-input" id="file" ape="0">未上传</span>
                    </div>
                    
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="layui-form-item">
                    <label class="layui-form-label">备注信息</label>
                    <div class="layui-input-block">
                        <input type="text" id="data" placeholder="请输入备注信息" class="layui-input" value="{$class.data}">
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript" charset="utf-8">
    var auditing_type='{$class.type.ape|default='0'}';
    var warehouse_arr={php}echo warehouse_arr();{/php};
    var tabinfo={php}echo tabinfo('rpurchase');{/php};
    var batch_type={empty name="sys.info.batch"}false{else/}true{/empty};
    var serial_type={empty name="sys.info.serial"}false{else/}true{/empty};
    {empty name="sys.info.user_choose"}$('#user').attr('disabled',true);{/empty}
    $('#supplier').attr('ape','{$class.supplier.ape}').val('{$class.supplier.info.name}');
    $('#account').val('{$class.account.ape}');
    $('#user').val('{$class.user.ape}');
    {notempty name="class.file"}
        $('#file').html('已上传').attr('ape','{$class.file}');
    {/notempty}
</script>
<script src="/skin/js/public/ztree.js" type="text/javascript" charset="utf-8"></script>
<script src="/skin/js/public/grid.locale-cn.js" type="text/javascript" charset="utf-8"></script>
<script src="/skin/js/public/jqGrid.js" type="text/javascript" charset="utf-8"></script>
<script src="/skin/js/main/public_tab.js" type="text/javascript" charset="utf-8"></script>
<script src="/skin/js/main/rpurchase_tab.js" type="text/javascript" charset="utf-8"></script>
<script src="/skin/js/main/rpurchase.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    add_goods({php}echo json_encode($info);{/php},false);
    if(auditing_type!=='1'){
        check_tab();//未审核状态检查表格
    }
    cal_default_rows();
</script>
{/block}